<div class="container-fluid main-container">
    <div class="row card">
        <mat-card>
            <mat-card-title>¿Qué es CoroInfo?</mat-card-title>
            <mat-card-subtitle>__________________________________</mat-card-subtitle>
            <mat-card-content>
                Somos una página que ha nacido del deseo de un pequeño gurpo de gente de ayudar
                frente a la pandemia que asola nuestro país y el mundo entero. Buscamos ofrecer información 
                útil, clara y veráz sobre el Covid-19 o Coronavirus.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row card">
        <mat-card>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>__________________________________</mat-card-subtitle>
            <mat-card-content>
                Estamos recopilando una gran cantidad de información sobre el virus en general y su evolución
                y filtrándola para ofrecer los datos de una forma clara y cercana. De forma que sean entendibles
                para todo el mundo. Puedes verlo en nuestra sección de Información.
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="informacion" mat-raised-button color="primary">Información</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="row card">
        <mat-card>
            <mat-card-title>Contagio</mat-card-title>
            <mat-card-subtitle>__________________________________</mat-card-subtitle>
            <mat-card-content>
                Queremos ayudar a todo el que sea posible a evitar un contagio. Para ello recopilamos toda la 
                información que hay sobre como se puede contraer o contagiar el Coronavirus y te la ofrecemos 
                de manera resumida y fácilmente legible. Puedes verlo en nuestra sección de Prevención.
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="prevencion" mat-raised-button color="primary">Prevención</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="row card">
        <mat-card>
            <mat-card-title>Bulos</mat-card-title>
            <mat-card-subtitle>__________________________________</mat-card-subtitle>
            <mat-card-content>
                También estamos recopilando gran número de bulos que circulan por redes sociales, chats, etc.
                Para poder desmentirlos y que tengas acceso de forma rápida a un sitio dónde verificar dicha 
                información sobre el virus. Puedes verlo en nuestra sección de bulos.
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="bulos" mat-raised-button color="primary">Bulos</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="row card" id="#ayudar">
        <mat-card>
            <mat-card-title>¿Quieres ayudar?</mat-card-title>
            <mat-card-subtitle>__________________________________</mat-card-subtitle>
            <mat-card-content>
                Hemos recopilado todas las inciativas que hemos sido capaces que van orientadas a ayudar a los
                demás durante esta crisis. Si quieres incluir alguna o ver en que puedes ayudar, ve a nuestra sección
                de voluntariado.
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="voluntariado" mat-raised-button color="primary">Voluntariado</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>