<div class="main-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué es el Coronavirus?
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                Los coronavirus son una familia de virus que normalmente afecta solo
                a los animales, aun que en ocasiones pueden transmitirse a las personas.
            </p>
            <p>
                El <span class="name">SARS-CoV-2</span> es un nuevo tipo de coronavirus detectado por primera vez en diciembre
                del 2019. Este nuevo virus produce la enfermedad <span class="name">COVID-19</span> y puede afectar a las personas.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="item-container">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cúales son sus síntomas?
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                Los principales síntomas de este <span class="name">virus</span> son:
            </p>
            <ul>
                <li>Fiebre</li>
                <li>Tos</li>
                <li>Sensación de falta de aire</li>
            </ul>
            <p>
                Es importante saber que el <span class="name">80%</span> de los casos presentan <span class="name">síntomas leves.</span>
                Si tienes estos síntomas debes de llamar al teléfono que corresponda a tu comunidad 
                autónoma para que te digan como proceder. Puedes ver el listado pulsando <a routerLink="telefonos">aquí</a>
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="item-container">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Hay tratamiento?
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                No existe un tratamiento específico para este <span class="name">virus</span> pero algunos antivirales han
                demostrado su eficacia en estudios recientes y se están utilizando para combatir este <span class="name">coronavirus.</span>
            </p>
            <p>Lo que si tienen tratamiento son los sintomas que provoca, como la <span class="name">neumonía</span></p>
            <p>
                Al ser un <span class="name">virus</span> el tratamiento con antibióticos <span class="name">NO sirve para NADA.</span> Por tanto,
                no tome antibióticos de forma preventiva o como tratamiento.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>