$small: 768px;
$medium: 992px;
$large: 1200px;



// @import "../../variables.scss";
// @media (max-width: $small)  { 
    
//  }

// /* Dispositivos medianos (ordenadores, anchura mayor o igual a 992px) */
// @media (min-width: $small ) and (max-width: $medium) { 
    
//  }

// /* Dispositivos grandes (ordenadores, anchura mayor o igual a 1200px) */
// @media (min-width: $medium ) and (max-width: $large) { 
   
//  }

// @media (min-width: $large) {
    
// }